@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Eina';
  font-weight: 400;
  src: url(../fonts/Eina03-Regular.ttf) format('truetype');
}

#lander {
  background: #FFFFFF;
}

section {
  height: 100vh;
  padding: 6vw 5%;
}

img {
  width: 45%;
}

h1 {
  color: white;
  font-family: 'Bebas Neue';
  font-size: 8vw;
  font-weight: 400;
  line-height: 9vw;
  letter-spacing: -0.25vw;
  margin: 0;
  text-align: left;
  z-index: 1;
}

h2 {
  color: #2B3144;
  font-family: 'Bebas Neue';
  font-size: 6vw;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  z-index: 1;
}

h5 {
  font-family: 'Eina';
  font-size: 0.8vw;
}

p {
  color: black;
  font-family: 'Eina';
  font-size: 1vw;
  line-height: 1.8;
}

.cta {
  align-items: center;
  background: none;
  border: none;
  color: #414A69;
  display: flex;
  font-family: 'Eina';
  font-size: 1vw;
  font-weight: bold;
  justify-content: space-between;
  letter-spacing: -0.5px;
  line-height: 3.5;
  margin: 0;
  text-align: left;
  width: 18%;
  padding: 0;
  z-index: 1;
}

.cta img {
  width: 30px;
}

#section-one {
  /* background: #FBC843; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2vw;
  padding-bottom: 0;
}

#section-one .yellow-bg {
  width: 100%;
  height: 80%;
  background: #FBC843;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 0;
}

#section-one .logo-white {
  fill: white;
  margin-bottom: 8vh;
  z-index: 1;
}

#section-one h1 {
  transform: translateY(-25%);
  opacity: 0;
}

#section-one .cta {
  transform: translateY(-120%);
  opacity: 0;
}

#section-one .car-images {
  position: relative;
  margin-top: auto;
  height: 200px;
  transform: translateX(-100%);
  width: 100vw;
}

#section-one .car-images .car {
  position: absolute;
}

#section-one .car-images .porsche {
  z-index: 2;
  left: 6%;
  bottom: 110px;
  width: 45.7vw;
}

#section-one .car-images .benz {
  left: 23%;
  bottom: 135px;
  width: 43.8vw;
}

#section-one .car-images .audi {
  left: -6.5%;
  bottom: 135px;
  width: 35vw;
  transform: rotateY(180deg);
}

#section-one .phone {
  position: absolute;
  top: 100px;
  right: -2%;
  opacity: 0;
  width: 35vh;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) -20px 20px 25px);
}

#section-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-two .carousel {
  background: #FBC843;
  width: 36.5%;
  position: relative;
  height: 100%;
  max-height: 55vw;
  transform: scaleX(0);
  transform-origin: right;
}

#section-two .carousel > div {
  width: 100%;
  height: 100%;
}

#section-two .carousel .content {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#section-two .carousel .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  padding: 0 5%;
}

#section-two .carousel .buttons img {
  width: 10%;
  height: 40%;
  padding: 0 3%;
  cursor: pointer;
}

#section-two .carousel .car-info {
  padding: 0 22%;
  margin-top: 15%;
}

#section-two .carousel .car-info h1 {
  color: black;
  font-size: 4vw;
  letter-spacing: normal;
  line-height: 1;
}

#section-two .carousel .car-info h2 {
  font-size: 1vw;
  font-weight: 300;
  margin-bottom: 20%;
}

#section-two .carousel .car-info div {
  display: flex;
  align-items: center;
  margin: 5% 0;
}

#section-two .carousel .car-info div img {
  width: 7%;
}

#section-two .carousel .car-info div h4 {
  font-size: 1vw;
  font-family: 'Bebas Neue';
  font-weight: 400;
  margin: 0 2%;
  width: 10%;
}

#section-two .carousel .car-info div h3 {
  font-size: 2vw;
  font-family: 'Bebas Neue';
  font-weight: 400;
  margin: 0 0 0 5%;
}

#section-two .carousel .car-image {
  position: absolute;
  right: -50%;
  bottom: -5%;
  width: 125%;
  transform: translateX(100%);
  opacity: 0;
}

#section-two .text {
  padding: 0 10% 10% 0;
  width: 55%;
}

#section-two .text h2 {
  transform: translateY(-100%);
  opacity: 0;
}

#section-two .text p {
  width: 80%;
  transform: translateY(-100%);
  opacity: 0;
}

#section-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 6vw 0;
  margin: auto;
  overflow-x: hidden;
}

#section-three .text {
  width: 30%;
}

#section-three .text h2 {
  transform: translateY(-100%);
  opacity: 0;
}

#section-three .text p {
  width: 80%;
  transform: translateY(-100%);
  opacity: 0;
}

#section-three .map-container {
  position: relative;
  width: 70%;
  padding-left: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}

#section-three .map-container img:not(.map) {
  position: absolute;
}

#section-three .map-container .map {
  width: 100%;
  transform: translateX(100%);
}

#section-three .map-container .delivery {
  height: 100%;
  width: 35%;
  right: 20%;
  top: -10%;
  opacity: 0;
  object-fit: contain;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) -20px 20px 25px);
}

#section-three .map-container .porsche {
  width: 55%;
  left: -35%;
  opacity: 0;
  top: 50%;
  transform: translateY(125%);
}

#section-four {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 6vw 0;
  overflow-x: hidden;
}

#section-four .vehicle-swap {
  background: #FBC843;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateX(-100%);
}

#section-four .vehicle-swap .porsche-front {
  width: 115%;
}

#section-four .vehicle-swap .screenshot {
  position: absolute;
  right: -30%;
  height: 90%;
  object-fit: contain;
  width: 80%;
  transform: translateY(-15%);
  opacity: 0;
}

#section-four .text {
  width: 50%;
}

#section-four .text h2 {
  transform: translateY(-100%);
  opacity: 0;
}

#section-four .text p {
  width: 65%;
  transform: translateY(-100%);
  opacity: 0;
}

#section-five {
  display: flex;
  height: 70vh;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}

#section-five .feature {
  align-items: center;
  background: #F5F5F7;
  display: flex;
  flex-direction: column;
  height: 28.3vw;
  justify-content: center;
  padding: 4.5%;
  width: 28.3vw;
  transform: translateY(-25%);
  opacity: 0;
}

#section-five .feature:nth-of-type(1) p {
  width: 80%;
}

#section-five .feature:nth-of-type(2) p {
  width: 93%;
}

#section-five .feature:nth-of-type(3) p {
  width: 80%;
}

#section-five .feature img {
  height: 30%;
  width: auto;
}

#section-five .feature h3 {
  color: #2B3144;
  font-family: 'Bebas Neue';
  font-size: 2.1vw;
  font-weight: 400;
  letter-spacing: -0.01vw;
  line-height: 1;
  margin: 2vw 0 1vw;
}

#section-five .feature p {
  color: rgb(0, 0, 0);
  font-size: 0.875vw;
  font-weight: normal;
  letter-spacing: -0.03vw;
  line-height: 1.5;
  margin: 0px;
  text-align: left;
}

#section-six {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-six .dude-container {
  height: 100%;
  width: 40%;
  background: #FBC843;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

#section-six .dude-container .dude {
  height: 95%;
  width: 70%;
  object-fit: contain;
  object-position: bottom;
  transform: rotateY(180deg);
}

#section-six .dude-container .benz {
  position: absolute;
  bottom: -10%;
  right: -70%;
  width: 125%;
}

#section-six .text {
  width: 55%;
  padding-right: 10%;
}

#section-six .text p {
  width: 65%;
}

#section-six .text h5 {
  padding-bottom: 50px;
  border-bottom: 4px solid #F4F4F5;
}

#section-six .text .cta {
  width: 40%;
}

footer {
  display: flex;
  align-items: center;
  padding: 5%;
}

footer .logo-black {
  fill: #171A25;
  margin-right: auto;
}

footer h6 {
  color: #4F5874;
  font-family: 'Eina';
  font-size: 0.8vw;
  margin: 0 2%;
}

/* MOBILE STYLES */
@media(max-width: 1023px) {

}
