@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Eina';
  font-weight: 400;
  src: url(../fonts/Eina03-Regular.ttf) format('truetype');
}

#lander {
  background: #FFFFFF;
}

section {
  height: 100vh;
  padding: 6vw 5% 0;
}

img {
  width: 45%;
}

h1 {
  color: white;
  font-family: 'Bebas Neue';
  font-size: 8vw;
  font-weight: 400;
  line-height: 9vw;
  letter-spacing: -0.25vw;
  margin: 0;
  text-align: left;
}

h2 {
  color: #2B3144;
  font-family: 'Bebas Neue';
  font-size: 6vw;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

p {
  color: black;
  font-family: 'Eina';
  font-size: 1vw;
  line-height: 1.8;
}

.cta {
  align-items: center;
  background: none;
  border: none;
  color: #414A69;
  display: flex;
  font-family: 'Eina';
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  letter-spacing: -0.5px;
  line-height: 3.5;
  margin: 0;
  text-align: left;
  width: 20%;
}

.cta img {
  width: 30px;
}

#section-one {
  background: #FBC843;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2vw;
}

#section-one .logo-white {
  fill: white;
  margin-bottom: 8vw;
}

#section-one .car-images {
  background: white;
  position: relative;
  margin-top: auto;
  height: 200px;
  transform: translateX(-5%);
  width: 100vw;
}

#section-one .car-images .car {
  position: absolute;
}

#section-one .car-images .porsche {
  z-index: 2;
  left: 6%;
  bottom: 110px;
  width: 45.7vw;
}

#section-one .car-images .benz {
  left: 23%;
  bottom: 135px;
  width: 43.8vw;
}

#section-one .car-images .audi {
  left: -6.5%;
  bottom: 135px;
  width: 35vw;
  transform: rotateY(180deg);
}

#section-one .phone {
  position: absolute;
  top: 100px;
  right: 8%;
  width: 35vh;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) -20px 20px 25px);
}

#section-two {
  display: flex;
  justify-content: space-between;
}

#section-two .carousel {
  background: #FBC843;
  width: 36.5%;
  position: relative;
  height: 88%;
}

#section-two .carousel .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  padding: 0 5%;
}

#section-two .carousel .buttons img {
  width: 5%;
  height: 40%;
  margin: 0 3%;
}

#section-two .carousel .car-info {
  padding: 0 20%;
}

#section-two .carousel .car-info h1 {
  color: black;
  font-size: 4vw;
  letter-spacing: normal;
}

#section-two .carousel .car-info h2 {
  font-size: 1vw;
  font-weight: 300;
}

#section-two .carousel .car-info div {
  display: flex;
  align-items: center;
}

#section-two .carousel .car-info div img {
  width: 7%;
}

#section-two .carousel .car-info div h4 {
  font-size: 1vw;
  font-family: 'Bebas Neue';
  font-weight: 400;
  margin: 0 2%;
}

#section-two .carousel .car-info div h3 {
  font-size: 2vw;
  font-family: 'Bebas Neue';
  font-weight: 400;
  margin-left: 5%;
}

#section-two .carousel .car-image {
  position: absolute;
  right: -50%;
  bottom: -5%;
  width: 125%;
}

#section-two .text {
  width: 50%;
}

#section-five {
  display: flex;
  height: 70vh;
  padding: 0 5%;
  justify-content: space-between;
}

#section-five .feature {
  align-items: center;
  background: #F5F5F7;
  display: flex;
  flex-direction: column;
  height: 28.3vw;
  justify-content: center;
  padding: 4.5%;
  width: 28.3vw;
}

#section-five .feature img {
  height: 30%;
  width: auto;
}

#section-five .feature h3 {
  color: #2B3144;
  font-family: 'Bebas Neue';
  font-size: 2.1vw;
  font-weight: 400;
  letter-spacing: -0.01vw;
  line-height: 1;
  margin: 2vw 0 1vw;
}

#section-five .feature p {
  color: rgb(0, 0, 0);
  font-size: 0.875vw;
  font-weight: normal;
  letter-spacing: -0.03vw;
  line-height: 1.5;
  margin: 0px;
  text-align: left;
}

/* MOBILE STYLES */
@media(max-width: 1023px) {

}
